@font-face {
  font-family: 'Bernina';
  src: url("BerninaSans-Web-CondensedBold.woff2");
}

$font_color: #064a5d;
$darker_blue: darken($font_color, 30%);
$light_blue: #f7ffff;
$bordeau: #810426;

header{
  display: none;
}


.head{
  background-image: url(./../img/background.jpg);
  background-po: center;
  background-size: cover;
  height: 419px;
  position: relative;
}
.head-promo{
  position: absolute;
  top: 12%;
  left: 26%;
  width: 180px;
  margin: 0;
  border-radius: 7%;
  font-size: 0.9em;
  font-weight: bold;
  color: white;
  background-color: #810426;
  -webkit-transform: rotate(10deg);
  transform: rotate(17deg);
}

.head-promo-date{
  font-weight: normal;
}
.head-slogan{
  margin: 0;
  position: absolute;
  bottom: 5px;
  color: white;
  width: 100%;
  opacity: 0.5;

}
.title, .mainP {
  color: $darker_blue;
  text-align: center;
}

.ice_exp, figcaption {
  color: $font_color;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $light_blue;
}

.inner {
  width: 95%;
  margin: 0 auto;
}

.logo_rdv {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1%;
}

.logo_rdv_logo {
  width: 50%;
}

.logo_rdv_rdv {
  height: 30px;
  background: inherit;
  border-radius: 9%;
  border-color: lightslategrey;

}

.title{
  margin-bottom: 6%;
}
.mainP{
  margin-bottom: 6%;
}

.ice_exp {
  align-self: flex-start;
}


.fig {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fig_img {
  border-radius: 50%;
  width: 100%;
}

.fig_div {
  width: 85%;
}

figcaption {
  font-family: Bernina;
}




@media screen and (min-width: 480px) {
  .head{
    width: 100%;
    position: relative;
  }
  .head-promo{
    left: 48%;
    top: 16%;
    transform: rotate(24deg);
  }

  .logo_rdv {
justify-content: space-between;
  }
  .logo_rdv_logo {
    width: 35%;
  }

  .logo_rdv_rdv {
    height: 40px;
  }
  .fig_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

  }
  .fig {
    width: 49%;
  }
.fig_blue_shadow{
  width: 49%;
  height: 32px;
  border-radius: 50%;
  background-color: #cdecff;
}
  .cryolipose_order{
    order: 3;
  }
  .gym_order{
    order:1;
  }
  .smartphone_order{
    order:2;
  }
}


@media screen and (min-width: 768px) {

.head{
  width: 100%;
  height: 500px;
}
.head-promo{
  left: 80%;
  top: 10%;
}



  .inner{
  width:70%;
  }
  .logo_rdv {
    justify-content: space-around;
    margin-bottom: 1%;
  }
  .logo_rdv_logo{
    width: 20%;
  }
  .title{
    margin-bottom: 3%;
  }

  .fig_container{
    justify-content: space-around;
  }
  .fig {
    width: 17%;
  }

  .fig_blue_shadow{
    display: none;
  }
  .ice_exp{
    align-self: flex-end;
    padding-right: 24%;
  }

}

