@font-face {
  font-family: 'Bernina';
  src: url("BerninaSans-Web-CondensedBold.woff2");
}

$font_color: #064a5d;
$darker_blue: darken($font_color, 30%);
$light_blue: #f7ffff;

.title, .mainP {
  color: $darker_blue;
}

.ice_exp, figcaption {
  color: $font_color;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $light_blue;
}

.inner {
  width: 95%;
  margin: 0 auto;
}

.logo_rdv {
  display: flex;
  flex-direction: row;

}

.logo_rdv_logo {
  width: 50%;
}

.logo_rdv_rdv {
  height: 30px;
  background: inherit;
  border-radius: 9%;
  border-color: lightslategrey;

}

.ice_exp {
  align-self: flex-start;
}


.fig {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fig_img {
  border-radius: 50%;
  width: 100%;
}

.fig_div {
  width: 90%;
}

figcaption {
  font-family: Bernina;
}


@media screen and (min-width: 480px) {
  .fig_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

  }
  .fig {
    width: 49%;
  }
.fig_blue_shadow{
  width: 49%;
  height: 32px;
  border-radius: 50%;
  background-color: #cdecff;
}
}


@media screen and (min-width: 770px) {

}